html,body{
    background-image: url('./img/playing-field-img.png');
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1000px;
    background-size: cover;
    background-position: center;
    /* background: black; */
    font-size: 100%;
}

canvas{
    /* border: 3px solid red; */
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 800px;
}

.game{
    position: relative;
}



body .hidden{
    display: none;
}

.main-menu{
    font-family: Verdana;
    color: yellow;
    text-shadow: 2px 2px rgb(6, 6, 41);
    background-image: url('./img/menu_pic.jpg');
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1000px;
    background-size: cover;
    background-position: center;
    border:2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
    
    
}

ul{
    text-align: justify;
    
}

.main-menu-text{
    margin-top: 400px;
    background-color: rgba(255, 255, 255, 0.225);
    padding: 16px;
    border-radius: 2%;
}

button{
    font-weight: bold;
    font-size: 18px;
    padding: 15px;
    border-radius: 30px;
    border: 0;
    border:2px solid gray;
    background-color: rgb(6, 6, 41);
    color: yellow;
    text-shadow: 2px 2px black;
    box-shadow: 0 0 10px black;
    cursor: pointer;
    
}

.debug{
    color: rgb(2, 2, 48);
    font-size: 40px;
}

#counter{
    color: red;
    font-size: 30px;
    text-shadow: 2px 2px black;

}

.end-game{
    font-family: Verdana;
    color: yellow;
    text-shadow: 2px 2px rgb(6, 6, 41);
    background-image: url('./img/end-game.png');
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1000px;
    background-size: cover;
    background-position: center;
    border:2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}